# Package Files
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# VSCode
.vscode/

# Mac
.DS_Store

# Maven
log/
target/

# Compiled Files
*.class
bin/
build/
java/build/**
test-output/

# Documentation
javadoc/

# Misc
development.properties
testmonitor.properties
